Heikki - Section 3.1

Section '3.1 External PSK Derivation'
epskid derivation definition says:
   - <> is a NULL salt

Can this clarified? For example, salt is:
1: 0 - a string of Hash.length bytes set to zero (RFC 8446 section 7.1)
2: Single all zero bits octet (ASCII NUL character)
3: An empty string, that is, a zero length salt

Based on RFCs 5869 (HKDF-Expand and HKDF-Extract defintion) and 8446, I'd say option 1: is the correct.

If possible, a test vector that shows the result of epskid derivation would be valuable. The document could have a Base64 encoded BSK public key as input information and hex or Base64 encoded epskid as output. This would tie together BSK public key encoding and the derivation it's used for.
